.main {
    text-align: center;
}

.navbar {
    ul {
        display: inline-flex;
        li {
            list-style: none;
            a {
                margin: 10px;
                text-decoration: none;
            }
        }
    }
}